# =========================
# Secrets
# =========================
.env
.streamlit/secrets.toml

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# Cache
# =========================
.cache
.cache/
.pytest_cache/

# =========================
# Models
# =========================
models/*.pkl
models/*.joblib

# =========================
# User Data
# =========================
liked_songs.json
disliked_songs.json
history.json
user_history.json

# =========================
# IDE Files
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log